<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <title>
        {% block title%}
        404
        {% endblock %}
    </title>
</head>
<body>
{% block body%}
  <div id="absoluteCenteredDiv">
        <div class="box">
            <center><h1><b>404</b></h1></center>
            <h1><b>This page can't be found :(</b></h1>
            <button onclick= "location.href = '/signup';" class="button" type="submit">go back</button>
        </div>
  </div>
{% endblock %}
</body>
</html>