<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <title>
        {% block title%}
        Login
        {% endblock %}
    </title>
</head>
<body>
{% block body%}
  <div id="absoluteCenteredDiv">
    <form action="/login" method="POST">
        <div class="box">
            <h1><b>Log in</b></h1>
            <input class="username" type="text" name="username" placeholder="Enter your nickname">
            <input class="username" type="password" name="password" placeholder="Enter your password">
            <button class="button" type="submit">log in</button>
        </div>
    </form>
      <p>You don't have an account? <a class="fpwd" href="/signup">click here</a></p>
  </div>
{% endblock %}
</body>
</html>