<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>
        {% block title%}
        SignUp
        {% endblock %}
    </title>
</head>
<body>
{% block body%}
  <div id="absoluteCenteredDiv">
    <form action="/signup" method="POST">
        <div class="box">
            <h1><b>Sign up</b></h1>
            <input class="username" type="text" name="email" placeholder="Enter your email">
            <input class="username" type="text" name="username" placeholder="Enter your nickname">
            <input class="username" type="password" name="password1" placeholder="Enter your password">
            <input class="username" type="password" name="password2" placeholder="Enter your password again">
            <button class="button" type="submit">Sign up</button>
        </div>
    </form>
        <p>Already have account? <a class="fpwd" href="/login">click here</a></p>
  </div>
{% endblock %}
</body>
</html>